
body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container-fluid {
background-color: #272727;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* static/css/style.css */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

nav ul li a:hover {
    background-color: #111;
}
    
input[type="radio"] {
display: none;
}

label {
color: grey;
}

.clasificacion {
direction: rtl;
unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
color: orange;
}

input[type="radio"]:checked ~ label {
color: orange;
}