<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smash Or Pass</title>

    <!-- Estilo personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/style.css') }}">
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            gap: 10px;
            height: 100vh;
            overflow: hidden;
        }
        .grid-item {
            background-color: lightgray;
            padding: 20px;
            text-align: center;
        }
        .left, .right {
            z-index: 1;
        }
        .center {
            z-index: 2;
            background-color: lightblue;
        }
    </style>

    <!-- De internet :v -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body style="background-color: #333">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        {% include 'navbar.html' %}
    </nav>
    
    <h1>Pokémon Carousel</h1>
    <div id="pokemon-display">
        <img id="pokemon-image" src="" alt="Pokémon Image" width="200" />
        <p id="pokemon-name"></p>
        <input type="text" id="pokemon-input" readonly>
    </div>
    <button class="btn btn-danger" id="next-button">Pass</button>
    <button class="btn" style="background-color: pink;" id="smash-button">Smash</button>

    <p class="clasificacion">
        <input id="radio1" type="radio" name="estrellas" value="5">
        <label for="radio1">★</label>
        <input id="radio2" type="radio" name="estrellas" value="4">
        <label for="radio2">★</label>
        <input id="radio3" type="radio" name="estrellas" value="3">
        <label for="radio3">★</label>
        <input id="radio4" type="radio" name="estrellas" value="2">
        <label for="radio4">★</label>
        <input id="radio5" type="radio" name="estrellas" value="1">
        <label for="radio5">★</label>
    </p>


    <script>
        let currentPokemonId = 1;
        let currentPokemonName = '';
        let currentPokemonLevel = 0;
        async function fetchPokemonId() {
            const response = await fetch('/get_pokemon_id');
            const data = await response.json();
            if (!data.error) {
                currentPokemonId = data.pokemon_id;
                fetchPokemon(currentPokemonId);
            }
        }

        async function fetchPokemon(pokemonId) {
            const response = await fetch(`/get_pokemon/${pokemonId}`);
            const data = await response.json();
            if (!data.error) {
                currentPokemonName = data.name;
                document.getElementById('pokemon-image').src = data.image_url;
                document.getElementById('pokemon-name').textContent = data.name;
                document.getElementById('pokemon-input').value = data.name;
            } else {
                document.getElementById('pokemon-name').textContent = 'Pokémon not found';
            }
        }


        function getSelectedLevel() {
            const radios = document.getElementsByName('estrellas');
            for (let i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    return radios[i].value;
                }
            }
            return 0;
        }

        document.getElementById('smash-button').addEventListener('click', async () => { 
            currentPokemonLevel = getSelectedLevel(); 
            if (currentPokemonLevel > 0){
                const response = await fetch(`/savepokemon/${currentPokemonName}/${currentPokemonLevel}`, {
                    method: 'POST'
                });
                const result = await response.json();
                alert(result.message);
                currentPokemonId++;
                fetchPokemon(currentPokemonId);
            }
            else{
                alert("Che selecciona un nivel antes de hacer SMASH.");
            }
        });

        document.getElementById('next-button').addEventListener('click', () => {
            currentPokemonId++;
            fetchPokemon(currentPokemonId);
        });

        fetchPokemonId();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>